@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: white;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}


.Score {
    position: absolute;
    top: 20px;
    left: 20px;
}

.Score p {
    display: inline;
}

.Score #counter {
    position: relative;
    top: 0;
    left: 5px;
}

.Record {
    position: absolute;
    top: 60px;
    left: 20px;
}

.Record p {
    display: inline;
}

.Record #highscore {
    position: relative;
    top: 0;
    left: 5px;
    font-size: 1em;
    background: linear-gradient(200deg, red, rgb(229, 229, 237), rgb(178, 172, 182), rgb(223, 17, 17));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#end {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#end button {
    background-color: red;
    padding: 20px 50px 20px 50px;
    font-family: inherit;
    font-size: inherit;
}

#controlls {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#controlls div {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.Camera {
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 44%;
    align-items: first baseline;
}

.Camera p {
    font-size: 10px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#controlls button {
    width: 100%;
    /* Reduce the width */
    background-color: rgb(0, 123, 255);
    /* Change the background color to a blue color */
    border: 2px solid rgb(255, 255, 255);
    /* Make the border thicker */
    border-radius: 10px;
    /* Reduce the border radius to make the corners less rounded */
    color: rgb(0, 0, 0);
    /* Change the text color to white */
    font-size: 1.2em;
    /* Increase the font size */
    padding: 10px;
    /* Add some padding */
    transition: background-color 0.3s ease;
    /* Add a transition effect when the background color changes */
}

#controlls button:first-of-type {
    grid-column: 1/-1;
}