@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --main: #27374D;
    --circle-size: 10%;
}
*{
    
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

::-webkit-scrollbar {
    width: 0px;  
    height: 0px;
  }

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: rgb(82, 109, 130, 0.3); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 1.5rem;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: -10%;
}

.navbar a{
    color: white;   
    font-size: 1.15rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.icons{
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}




@media (max-width: 768px) {
    .icons {
      display: block; 
    }
    
    .navbar {
      display: none; 
    }
  
 
    .navbar.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 64px; 
      left: 0;
      width: 100%;
      background-color: rgba(5, 32, 32, 0.6);
      z-index: 99;
    }
  

    .navbar.active a {
      margin: 10px 0; 
    }
  }
  


.circle {
  position: relative;
  height: 20vw;
  width: 20vw;
  background-color: rgba(8, 15, 15, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
}

.circle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 100vh;
}


.context{
  position: absolute;
  margin-top: 10%;
  font-weight: 1000;
  text-decoration: none;

}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-shadow: 1px 1px 4px black;
  margin: 0;
}

.context{
    top: 0%;
    position: absolute;
  }

h4{
    text-indent: 20px;
    color: white;
}

.one{
    background-color:var(--main);
}

.two{
    background-color: var(--main);
}

.three{
    background-color: var(--main);
}

.four{
    background-color: var(--main);
}

.cards {
  perspective: 500px;
}

.card {
  width: 200px;
  height: 250px;
  background: var(--main);
  border: 2px solid #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card img {
  max-width: 100%;
  max-height: 100%; /* Add this to ensure the image doesn't exceed the card's height */
  display: block;
  margin: 0 auto;
}

.card:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_title {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform .5s;
  font: 700 1.5rem monospace;
  text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.card:hover .card_title {
  transform: translateZ(50px);
}

